In [1]:
from pandas import read_csv as csv
from pandas import DataFrame as df
from pandas import concat
from os import listdir
from ast import literal_eval as lev

In [2]:
def explore(data):
    print("Data shape (rowsXcols):\n {} => {} in total size".format(data.shape, data.size), end="\n\n")
    print("Available columns:\n {}".format(data.columns), end="\n\n")

In [3]:
def unpack(data, num):
    try:
        # create empty list as many as total features available
        values = [[] for _ in range(len(lev(data[0])[0]))]
        try:
            for i, j in enumerate(lev(data[num])):
                for k in range(len(values)):
                    values[k].append(list(j.values())[k])
        except:
            values.append(0)

        keys = list(lev(data[0])[0].keys()) # keys retrieved only from first dict in list
        return dict(zip(keys, values))
    except:
        raise TypeError("This function's used for extract dicts on a list only.\nYou sent a data with type {} instead".format(type(data)))

In [4]:
# for n, i in enumerate(listdir("./data")):
#     print("({}) {}".format(n+1, i))
#     print("=================")
#     data = csv("data/" + i, header=0, low_memory=False)
#     explore(data)
    
#     for name, values in data.iteritems():
#         print("{}: {}".format(name, type(data[name][0])))
    
#     print()

# credits.csv

In [5]:
credits_data = csv("data/credits.csv", header=0, low_memory=False)

In [6]:
explore(credits_data)

Data shape (rowsXcols):
 (45476, 3) => 136428 in total size

Available columns:
 Index(['cast', 'crew', 'id'], dtype='object')

In [7]:
df(unpack(data=credits_data.crew, num=2))

,credit_id,department,gender,id,job,name,profile_path
0,52fe466a9251416c75077a89,Directing,2,26502,Director,Howard Deutch,/68Vae1HkU1NxQZ6KEmuxIpno7c9.jpg
1,52fe466b9251416c75077aa3,Writing,2,16837,Characters,Mark Steven Johnson,/6trChNn3o2bi4i2ipgMEAytwmZp.jpg
2,52fe466b9251416c75077aa9,Writing,2,16837,Writer,Mark Steven Johnson,/6trChNn3o2bi4i2ipgMEAytwmZp.jpg
3,5675eb4b92514179dd003933,Crew,2,1551320,Sound Recordist,Jack Keller,None

In [8]:
movies_metadata = csv("data/movies_metadata.csv", header=0, low_memory=False)

In [9]:
explore(movies_metadata)

Data shape (rowsXcols):
 (45466, 24) => 1091184 in total size

Available columns:
 Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [10]:
df(unpack(data=credits_data.cast, num=5))

,cast_id,character,credit_id,gender,id,name,order,profile_path
0,25,Lt. Vincent Hanna,52fe4292c3a36847f80291f5,2,1158,Al Pacino,0,/ks7Ba8x9fJUlP9decBr6Dh5mThX.jpg
1,26,Neil McCauley,52fe4292c3a36847f80291f9,2,380,Robert De Niro,1,/lvTSwUcvJRLAJ2FB5qFaukel516.jpg
2,27,Chris Shiherlis,52fe4292c3a36847f80291fd,2,5576,Val Kilmer,2,/AlhPeiH8R4reMNGNQ9ag1FPbuW9.jpg
3,28,Nate,52fe4292c3a36847f8029201,2,10127,Jon Voight,3,/c7BvyqlvqDkfkFqSBUCiR21fvTh.jpg
4,29,Michael Cheritto,52fe4292c3a36847f8029205,2,3197,Tom Sizemore,4,/soINOuacuiThRb2LyPD4tTWve7C.jpg
...,...,...,...,...,...,...,...,...
60,120,Cusamano (uncredited),56be8014c3a36817ef00540a,2,20625,Robert Miranda,60,None
61,121,Grocery Store Cop (uncredited),56be8053c3a36817f40055b3,2,1502517,Manny Perry,61,None
62,122,Waitress (uncredited),56be80a8925141734400508d,1,114625,Iva Franks Singer,62,None
63,124,Bank Guard (uncredited),56be8132925141735900536f,0,1576562,Tim Werner,63,None
64,133,Ellis (uncredited),56d48f67925141799e013151,2,1584544,Philip Ettington,64,None

In [11]:
for name, values in movies_metadata.iteritems():
    print("{}: {}".format(name, type(movies_metadata[name][0])))

adult: <class 'str'>
belongs_to_collection: <class 'str'>
budget: <class 'str'>
genres: <class 'str'>
homepage: <class 'str'>
id: <class 'str'>
imdb_id: <class 'str'>
original_language: <class 'str'>
original_title: <class 'str'>
overview: <class 'str'>
popularity: <class 'str'>
poster_path: <class 'str'>
production_companies: <class 'str'>
production_countries: <class 'str'>
release_date: <class 'str'>
revenue: <class 'numpy.float64'>
runtime: <class 'numpy.float64'>
spoken_languages: <class 'str'>
status: <class 'str'>
tagline: <class 'float'>
title: <class 'str'>
video: <class 'bool'>
vote_average: <class 'numpy.float64'>
vote_count: <class 'numpy.float64'>

# movies_metadata.csv

In [12]:
len(movies_metadata)

45466

In [13]:
movies_metadata[["genres", "id", "popularity", "production_companies", "release_date", "revenue", "runtime"]]

,genres,id,popularity,production_companies,release_date,revenue,runtime
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0
4,"[{'id': 35, 'name': 'Comedy'}]",11862,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0
...,...,...,...,...,...,...,...
45461,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,0.072051,[],NaN,0.0,90.0
45462,"[{'id': 18, 'name': 'Drama'}]",111109,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]",2011-11-17,0.0,360.0
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0
45464,[],227506,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]",1917-10-21,0.0,87.0
45465,[],461257,0.163015,[],2017-06-09,0.0,75.0

In [14]:
movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

* **UNPACK SOME DIMENSION AND SAVE INTO NEW .CSV FILE**

In [15]:
def append_row(col):
    what_to_concat = []
    for c in range(len(col)):
        unpacked = df(unpack(col, c))
        unpacked.insert(0, "movie_id", movies_metadata.id[c], True)
        what_to_concat.append(unpacked)

    return concat(what_to_concat, ignore_index=True)

In [16]:
# prodc = append_row(metadata.production_companies)
# prodc.to_csv(r'\myPath', index = False, header=True)

In [17]:
# genre = append_row(metadata.genres)
# genre.to_csv(r'\myPath', index = False, header=True)

* **CHECK FOR AVAILABLE ZERO AND NULL VALUES**

In [18]:
def return_null(dim, *args, **kwargs):
    try:
        return [i for i, j in enumerate(dim) if dim.isnull()[i] == True]
    except:
        raise ValueError("Undefined type.")

In [19]:
def return_zero(dim, *args, **kwargs):
    try:
        return [i for i, j in enumerate(dim) if j==0]
    except:
        raise ValueError("Undefined type.")

In [20]:
for i, j in enumerate([movies_metadata.popularity, movies_metadata.revenue]):
    print("Total zero values in {}: {}".format(j.name, len(return_zero(j))))
    print("Total null values in {}: {}".format(j.name, len(return_null(j))))

Total zero values in popularity: 0
Total null values in popularity: 5
Total zero values in revenue: 38052
Total null values in revenue: 6

* **CHECK IF THERE IS ANY ROW WHICH HAS BOTH ZERO AND NULL VALUE**

Total rows: 7397

In [21]:
return_null_revenue = return_null(movies_metadata.revenue)
return_null_popularity = return_null(movies_metadata.popularity)
return_zero_revenue = return_zero(movies_metadata.revenue)
return_zero_popularity = return_zero(movies_metadata.popularity)

In [40]:
7397 / len(movies_metadata) * 100

16.269300136365636

In [23]:
null_revenue_null_popularity = set(return_null_revenue).intersection(return_null_popularity)
null_revenue_null_popularity

{19729, 19730, 29502, 29503, 35586}

In [24]:
null_revenue_zero_popularity = set(return_null_revenue).intersection(return_zero_popularity)
null_revenue_zero_popularity

set()

In [25]:
zero_revenue_zero_popularity = set(return_zero_revenue).intersection(return_zero_popularity)
zero_revenue_zero_popularity

set()

In [26]:
zero_revenue_null_popularity = set(return_zero_revenue).intersection(return_null_popularity)
zero_revenue_null_popularity

set()

In [27]:
preprocessed_movies_metadata = csv("data/dtlMovie.csv", header = 0)
preprocessed_movies_metadata.head()

,TmdbId,MovieTitle,Popularity,ReleaseDate,Revenue,Runtime
0,862,Toy Story,21.946943,35002,373554033,81.0
1,8844,Jumanji,17.015539,35048,262797249,104.0
2,31357,Waiting to Exhale,3.859495,35055,81452156,127.0
3,11862,Father of the Bride Part II,8.387519,34740,76578911,106.0
4,949,Heat,17.924927,35048,187436818,170.0

In [28]:
len(preprocessed_movies_metadata.drop_duplicates("TmdbId"))

7397

In [29]:
preprocessed_movies_metadata.describe()

              TmdbId   Popularity   ReleaseDate       Revenue      Runtime
count    7407.000000  7407.000000   7407.000000  7.407000e+03  7401.000000
mean    66979.850142     8.513969  36582.999055  6.879668e+07   107.713822
std     98968.303304    12.158823   5648.870461  1.464280e+08    21.474888
min         5.000000     0.000001   5518.000000  1.000000e+00     0.000000
25%      9603.000000     3.934902  33917.500000  2.400000e+06    94.000000
50%     19158.000000     7.435688  38190.000000  1.682954e+07   104.000000
75%     71850.000000    10.919880  40711.500000  6.725414e+07   118.000000
max    443319.000000   547.488298  42958.000000  2.787965e+09   338.000000

In [30]:
preprocessed_movies_metadata.Revenue.quantile([.25, .75], interpolation='nearest')

0.25     2400000
0.75    67200000
Name: Revenue, dtype: int64

In [31]:
preprocessed_movies_metadata.Popularity.mean()

8.513969096665315

In [32]:
preprocessed_movies_metadata.Popularity.std()

12.158823174248564

In [33]:
preprocessed_movies_metadata.Revenue.mean()

68796676.73619549

In [34]:
preprocessed_movies_metadata.Revenue.std()

146427973.046396

In [35]:
count_null_in_revenue = 0
null_revenue_list = []
for i in range(len(movies_metadata.revenue)):
    if movies_metadata.revenue.isnull()[i] == True:
        null_revenue_list.append(i)
        print(i, movies_metadata.revenue.isnull()[i])
        count_null_in_revenue += 1
print("Total NULL values: {}".format(count_null_in_revenue))

19729 True
19730 True
29502 True
29503 True
35586 True
35587 True
Total NULL values: 6

In [36]:
count_zero_in_revenue = 0
zero_revenue_list = []
for i in range(len(movies_metadata.revenue)):
    if movies_metadata.revenue[i] == 0:
        zero_revenue_list.append(i)
        count_zero_in_revenue += 1
print("Total ZERO values: {}".format(count_zero_in_revenue))

Total ZERO values: 38052

In [37]:
c = 0
mean = movies_metadata.revenue.mean()
std = movies_metadata.revenue.std()
for i, j in enumerate(movies_metadata.revenue):
    if movies_metadata.revenue[i] != 0:
        if movies_metadata.revenue[i] < std:
            c += 1
print(c)
print((10408 - c) / 10408 * 100)

5505
47.107993850883936

In [38]:
movies_metadata.revenue.sort_values()

22731    0.0
29873    0.0
29874    0.0
29875    0.0
29876    0.0
        ...
19730    NaN
29502    NaN
29503    NaN
35586    NaN
35587    NaN
Name: revenue, Length: 45466, dtype: float64

* **COMPUTE HOW MANY STRING AND FLOAT DATA TYPES IN MOVIES_METADATA.POPULARITY**

In [39]:
float_count = 0
string_count = 0
for i, j in enumerate(movies_metadata.popularity):
    if type(j) is float:
        float_count += 1
    if type(j) is str:
        string_count += 1
        
print(string_count)
print(float_count)
print(len(movies_metadata.popularity) == float_count+string_count)

45461
5
True